server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: false
      routes:
        # 1. Existing Inventory Route
        - id: inventory-route
          uri: lb://inventory-service
          predicates:
            - Path=/inventory/**
          filters:
            - StripPrefix=1

        # 2. ADD THIS NEW ROUTE FOR ORDERS
        - id: order-route
          uri: lb://order-service
          predicates:
            - Path=/orders/**
          # We DO NOT use StripPrefix=1 here because your controller
          # already expects the "/orders" prefix.